@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


body {
  font-family: 'Poppins', sans-serif;
}

.container {
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  display: flex;
}

.heading{
  text-align: center;
  font-size: 50px;
}

.desc{
  text-align: center;
  font-size: 15px;
}

.btn {
  align-self: center;
  padding: 50px;
  color:black;
  background:white;
  border: none;
  cursor: pointer;
  font-size: 50px;
}

.btn2{
  margin: 50px auto;
  padding: 10px;
}
